/*
  The Pizza Tusk
  Client Frontend
  Rodrigo Lanas
  rodrigo@contraculto.com

  0. Order
  1. Header
    1. Cart
  2. Content
    1. Section
    2. Product
  3. Footer

  */

body{font-family: 'Roboto', sans-serif}


/*  0. Order */

#order{display:none;margin-top:40px;margin-bottom:40px;border:1px solid black;padding:40px;}
#order h2{margin-bottom:40px;}
#order h3{margin-bottom:15px;}
#order #cart .button{display:none}
#order #cart .totals{border-top: 1px solid black;padding-top:10px;font-size:16px;text-align:right}
#order #cart .totals .total{font-size:20px;font-weight:bold}

/*  1. Header */

#header{margin-top:25px;margin-bottom:25px}

/*  1.1 Cart */

#header #cart{position:absolute;right:0;bottom:0;overflow-y:auto;border:1px solid black;max-height:200px;background:white;padding:10px}
#header #cart.active{overflow-y:scroll}
#header #cart p{margin:0}
#header #cart table{margin:5px 0}
#header #cart .totals{display:none}
#header #cart .button{padding:5px 10px 5px 10px;text-align:right}
#cart thead th{border-top:none}

/*  2. Content */

.loading{text-align:center;padding:150px 15px;font-size:18px;line-height:50px;font-weight:bold;}

/*  2.1 Section */

.section_title{margin:20px 0 10px 0}
.section_title h2{font-size:2.5rem;font-weight:bold}

/*  2.2 Product */

.product{margin-bottom:20px}
.product h3{margin-bottom:0;background:black;padding:5px 10px;color:white;font-weight:bold}

.product .controls{position:relative;border:4px solid black;height:120px}
.product:hover .controls .overlay{display:block}
.product .controls .overlay{display:none;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background:rgba(255, 0, 0, 0.7);color:white;text-align:center}
.product .controls .overlay h4{font-weight:bold;font-size:4rem;line-height:100px}
.product .controls .overlay span{padding:10px}
.product .controls img{width:100%;height:100%;object-fit:cover}

.product.active .controls .overlay{display:block}
#content .product .controls a{color:white}

.product .details{border-width:0 0 0 4px;border-style:solid;border-color:black;padding:10px 14px 5px 10px;}
.product .details p:last-child{margin-bottom:5px}


/*  3. Footer */

#footer{margin-top:20px;margin-bottom:10px;padding:5px 0 5px 0;font-size:0.8em;border:1px solid black}
#footer p{margin:10px 0}

#footer a{color:#D2232A}
#footer a:hover{color:#970006}